header .box-header{
  display: flex;
  flex: 1;
}
header .box-header .item-header{
  display: flex;
  justify-content: space-between;
  flex: 1;
}
header .box-header .item-header .item-header-1{
  margin-left: 80px;
  font-size: 24px;
}
header .box-header .item-header .item-header-2{
  font-size: 24px;
}
footer{
  display: flex;
  justify-content: space-between;
}
.img-80{
  padding: 0;
}
header .box-header .item-header .item-header-1.img-80{
  margin-left: 0;
}
.box-notify{
  display: flex;
  align-items: center;
  width: 300px;
  height: 60px;
}
.box-notify .icon-notify{
  font-size: 24px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
}
.header-notify .inner-header{
  display: flex;
  align-items: center;
}
.header-notify .inner-header div{
  text-decoration: solid;
  color: blue;
}
.header-notify{
  text-decoration: solid black;
  display: flex;
  justify-content: space-between;
}
.icon-mail{
  background-color: blue;
}
.icon-user{
  background-color: greenyellow;
}
.icon-warning{
  background-color: red;
}
.icon-loading{
  background-color: yellow;
}
.content-header{
  margin-left: 10px;
}